.navbar-section {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.navbar-box {
  width: 80%;
  background-color: white;
  border-radius: 20px;
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Montserrat", sans-serif;
  font-size: 20px;
  font-weight: 500;
  color: #2B2B2B;
}

.nav-links {
  display: flex;
  gap: 40px;
}

.nav-links a {
  text-decoration: none;
  color: #2B2B2B;
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 500;
  transition: 0.3s;
}

.nav-links a:hover {
  color: #D89CA4;
  text-decoration: underline;
}
@media (max-width: 768px) {

  .navbar-box {
    width: 92%;
    padding: 18px 22px;
    flex-direction: column;
    gap: 18px;
  }

  .nav-links {
    gap: 20px;
    flex-wrap: wrap;
    justify-content: center;
  }

}